@font-face {
    font-family: 'DIN-Bold';
    src: local('DIN-Bold'),
        url('DIN-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SegoeUI-Bold';
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
        url('SegoeUI-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

